{% assign count = blog.articles_count %}
<div class="o-grid--item u-size-12">
    <p class="blog-items__main-title u-textUpper nimbus">{{blog.title}}</p>
</div>
{% if count > 3 %}
    <div class="o-grid o-grid--item home-slide-2 blog-list-slider"> 
{% endif %}
{% for article in blog.articles %}
{%- capture current -%}
{%- if order == '1' or order == '7' -%}
  {%- cycle 'odd','even' -%}    
{%- elsif order == '2' -%}
  {%- cycle 'odd','odd','even' -%}  
{%- elsif order == '3' or order == '4' or order == '6' or order == '9' -%}
  {%- cycle 'even' -%}
{%- elsif order == '5' -%}
  {%- cycle 'even','odd' -%}
{%- elsif order == '8' -%}
  {%- cycle 'even','odd', 'odd' -%}  
{%- else -%}
  {%- cycle '','' -%}
{%- endif -%}
{%- endcapture -%}
{%- assign g_width = 'grid-' | append: current -%}

  <div class="{% if count > 2 %}{{ g_width }} slide__item--{{block.id}}{%else%}blog_wrapper u-size-6@s  u-size-6@m  u-size-6@l{% endif %}"> 
        <article class="block border" aria-labelledby="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">           
            <a href="{{ blog.url }}" class="article__link">          
              <div class="small-slide__shadow">
              {% if article.image %}
              <div class="news__img">
                <p class="block__message"><span>{{blog.title}} </span> | <span>{{ article.published_at | time_tag: '%d %b' }}</span></p>
                {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img
                      class="article__grid-image lazyload lazypreload"
                      src="{{ article.image | img_url: 'master' }}"
                      data-src="{{ img_url }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt | escape }}">
                <noscript>
                  <div class="article__grid-image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                  </div>
                </noscript>
              </div> 
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg article__grid-image' }}
              {% endif %}
            
            <div class="block__info">
                <h3 class="article__title block__title block__title--large" id="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">                  
                  {{ article.title }}
                </h3>    
                <div class="block__p article__grid-excerpt">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                   {{ article.content | strip_html | truncate: 100 }}
                  {% endif %}
                </div>   

                {% if block.settings.button_label != blank and block.settings.button_link != blank %}                   
                <div class="article__meta-buttons u-pT-32 ">
                  <a href="{{ block.settings.button_link }}"
                    class="btn button"
                    aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                    {{- block.settings.button_label | escape -}}
                  </a>
                </div>
              {% endif %} 
            </div>     
          </div>
          </a>          
        </article>           
    </div>  
{% else %}
    <p>no articles in Blogs.</p>
{% endfor %}
{% if count > 3 %}
    </div>
{% endif %}
{% if count > 3 %}
<div class="block__button">
{% if block.settings.show_view_all %}
    <a href="{{ blog.url }}" class="button view_all_button">
    {{ 'blogs.article.view_all' | t }}
    </a>
{% endif %}

<ul class="slide__controls home-slide-2-controls" aria-label="Carousel Navigation" tabindex="0">    
    <li class="slide__prev" data-controls="prev" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-left fa-5x"></i>
    </li>
    <li class="slide__next  button" data-controls="next" aria-controls="customize" tabindex="-1">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Fill 3</title>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Arrow" fill="#FFFFFF">
                    <polygon id="Fill-3" transform="translate(8.500000, 9.000000) rotate(-270.000000) translate(-8.500000, -9.000000) " points="7.58805575 1 0 17 2.34598347 17 8.54454108 3.44934827 14.6540165 17 17 17 9.44133218 1"></polygon>
                </g>
            </g>
        </svg>       
    </li>
</ul>
</div>
{% endif %}