<section class="collection-items  o-grid  o-grid--p">
    <div class="o-grid--item  u-size-12@s"> 
        <h1 class="caps  h3  h-light  nimbus">Sort by</h1>
    </div>

    {% paginate collection.products by 2 %}
    {% for product in collection.products %}
    
        <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
            <a href="{{ product.url | within: collection }}">
                <div class="collection-items__img">
                    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                </div>
                <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
                <h1 class="collection-items__title">{{ product.title }}</h1>
                <h3 class="collection-items__title  collection-items__title--price">
                    {{ product.price | money }}
                    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                </h3>
            </a>
        </div>
    {% else %}
        <p>no matches</p>
    {% endfor %}
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}
    {% endpaginate %}

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>
    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

    <div class="o-grid--item  u-size-6@s  u-size-4@m  u-size-3@l  collection-items__item"> 
        <div class="collection-items__img"></div>
        <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
        <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
        <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
    </div>

</section>