<section class="collection-header  o-grid">
    <div class="o-grid--item  u-size-12@s">
        <div class="block  block--row  border">
            <div class="block__col">
                <div class="block__info  block__info--light-gray  block__info--large  collection-header__info">
                    <h1 class="block__title  block__title--large  block__title--p-t  caps  collection-header__title  nimbus">{{ collection.title }}</h1>
                    {% if collection.description != blank %}
                        <div class="rte">
                            {{ collection.description }}
                        </div>
                    {% endif %}                    
                </div>
            </div>

            <div class="collection-header__img  block__col">
                {% if collection.image != blank %}
                <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.image.alt }}">
                {% else %}
                <img src="{{ products.first.featured_image | img_url: 'master' }}" alt="{{ products.first.featured_image.alt }}"/>
                {% endif %}
            </div>
        </div>
    </div>
</section>