
{% capture media_id %}FeaturedMedia-{{ section.id }}-{{ media.id }}{% endcapture %}
{% capture media_class %}product-featured-media{% endcapture %}
{% capture media_wrapper_id %}{{ media_id }}-wrapper{% endcapture %}

{%- comment -%}
  Load different poster image sizes depending on the product layout
{%- endcomment -%}
{% capture image_size %}{{ height }}x{{ height }}{% endcapture %}

<div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper {% unless featured_media == media %} u-hide{% endunless %}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}    
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">
  {% case media.media_type %}
    {% when 'image' %}            
      <div
         class="product-single__media{% if product.media.size > 1 %} product-single__media--has-thumbnails{% endif %}">
        <img id="{{ media_id }}" data-fancybox-trigger="preview"
          class="feature-row__image {{ media_class }} lazyload{% unless featured_media == media %} lazypreload{% endunless %} cloudzoom"
          data-cloudzoom="zoomImage: '{{ media | product_img_url: 'master' }}', zoomPosition: 'inside', zoomOffsetX: 0, hoverIntentDelay: 100, touchStartDelay: 250" 
          src="{{ media | img_url: 'master' }}"          
          data-aspectratio="{{ media.preview_image.aspect_ratio }}"
          data-sizes="auto"          
          alt="{{ media.alt | escape }}">
      </div>
    {% when 'external_video' %}
      <div class="product-single__media">
        {{ media | external_video_tag }}
      </div>
    {% when 'video' %}
      <div class="product-single__media product-single__media--video product-single__media--{{ media.id }}">
        {{ media | video_tag: class: 'media-video', image_size: image_size }}
      </div>    
    {% else %}
      <div class="product-single__media">
        {{ media | media_tag: class: 'media-item', image_size: image_size }}
      </div>
  {% endcase %}
</div>
