<section class="o-grid  o-grid--p  product-main">

    <div class="o-grid--item  u-size-12@s u-mB-20">
       {% include 'breadcrumbs' %}
    </div>

  {%- assign current_variant = product.selected_or_first_available_variant -%}  
  {%- assign product_image_scale = '2' -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

    <div class="o-grid--item  u-size-6@m  u-size-7@l" data-product-single-media-group>
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- for media in product.media -%}
        {% include 'media', media: media, featured_media: featured_media, height: 720, image_scale: product_image_scale %}
      {%- endfor -%}

      {% if product.media.size > 1 %}
         <div class="thumbnails-wrapper  u-mT-32">          
          <ul class="o-grid product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for media in product.media %}
              <li class="o-grid--item u-size-4  u-size-2@s u-size-2@m  u-size-2@l product-single__thumbnails-item js">
                <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                   {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                    {%- capture thumbnailAlt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}                     
                      {%- else -%}
                        {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                    {%- endcapture -%}

                    <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                    {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <div class="product-single__thumbnail-badge">
                        {% include 'icon-video-badge-full-color' %}
                      </div>
                    {%- endif -%}                    
                </a>
              </li>
            {% endfor %}
          </ul>          
        </div>
      {% endif %}
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}          
      {% endif %}  
    </div>

    <div class="o-grid--item  u-size-6@m  u-size-5@l">        
        <h1 class="product-main__title  gray  caps  h3">{{product.title}}</h1>
        <div class="product__price">
          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span class="product-single__price--wrapper">
              <span id="ComparePrice" class="product-single__price--compare-at">
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </span>
            </span>
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}

          <span id="ProductPrice" class="product-main__title  product-main__title--price  blue  caps  h3  h-light product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }} 
          </span>
        </div>     
        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
        {%- endif -%}    

        {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}
        
        {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="product-select" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}>
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  class="button product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"                  
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>                
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
         
        <div class="meta_content">
          <div class="meta_content_icon">
            {% include 'icon-angle' %}
          </div>
          <div class="meta_content_detail">
            <div class="col_list">
            {% for collection in product.collections %}
              <span><a href="{{ collection.url }}">{{ collection.title }}</a></span>
            {% endfor %}
            </div>
          </div>
        </div>
        {% if section.settings.question != blank %}
        <div class="meta_content">
          <div class="meta_content_icon">
            {% include 'icon-envelope' %}
          </div>
          <div class="meta_content_detail">            
              <p>{{section.settings.question}}</p>
              <p>Email &nbsp;<span><a href="mailto:{{section.settings.email}}">{{section.settings.email}}</a></span></p>                        
          </div>
        </div>
        {% endif %}

        <div class="product-single__description rte">
            {{ product.description }}
        </div>

        <h3 class="product-main__detail  h5  gray">Color - <span class="h-light">White</span></h3>
        <div class="product-main__colors">
            <div class="product-main__color"></div>
            <div class="product-main__color"></div>
            <div class="product-main__color"></div>
        </div>
        
        <h3 class="product-main__detail  h5  gray">Size</h3>
        <div class="product-main__sizes">
            <div class="product-main__size  caps">s</div>
            <div class="product-main__size  caps">m</div>
            <div class="product-main__size  caps">l</div>
            <div class="product-main__size  caps">xl</div>
        </div>
        <a href="#" class="product-main__a">
            Size Help and Product Measurements
        </a>

        <div class="product-main__buttons">
            <a href="#">
                <button class="button">
                    Add to bag
                </button>
            </a>
            <a href="#">
                <button class="button  button--round  product-main__button">
                    F
                </button>
            </a>
        </div>

        <table class="product-main__table">
            <tbody class="product-main__tbody">
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Organic cotton</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Regular Fit<br>Twin Needle Durable Stitching<br>Premium Weight 180 G/M² Organic Jersey</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Made in Dhaka - Bangladesh</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Premium Wardrobe Staple</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">UK: Free delivery 3-5 working days from dispatch</td>
                </tr>
                
            </tbody>
        </table>

        <p class="gray  h-bold">Brothers notes: Good quality organic t-shirt made to last in a premium weight.</p>
        
    </div>
</section>

