<div class="{% unless product.available %}sold-out{% endunless %} block  border block--shadow block--slide">
    <a href="{{ product.url | within: collection }}">
    	<p class="block__message  block__message--blue">{{product.type}}</p>
        <div class="block__img {% if shrink %}block__img--shrink{% endif %}" data-image-loading-animation>
         	<div class="block__wrap">
		        {%- assign preview_image = product.featured_media.preview_image -%}
		        {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
		        <img
		        class="lazyload lazypreload"
		        data-src="{{ img_url }}"
		        data-sizes="auto"
		        alt="{{ preview_image.alt | escape }}">  
		    </div>
	        <div class="price__wrapper">
				{% include 'product-price-listing', product: product %}                           
	        </div>
        </div>
        <article class="block__info block__info--flexed block__info--160 {%if show_vendor %}block__info--190{% endif %}">  
        	<div> 
                {% if show_vendor %}
                	<h4 class="block__title block__title--small">{{ product.vendor }}</h4>                             
                {% endif %}
                <p class="block__p">{{ product.title }}</p>
            </div>
            <h5 class="block__cta  nimbus">Shop now</h5>
        </article>
    </a>
</div>