{%- assign link_url = product.url -%}
{%if custom_button_link != null %}
	{%- assign link_url = custom_button_link -%}
{% endif %}

{%- assign tag = product.type -%}
{% if product.metafields.global.tag %}
	{%- assign tag = product.metafields.global.tag -%}
{% endif %}
{%if custom_tag != null and custom_tag != '' %}
	{%- assign tag = custom_tag -%}
{% endif %}

{%- assign top = product.metafields.carousel.top -%}
{%if custom_top %}
	{%- assign top = custom_top -%}
{% endif %}

{%- assign orientation = product.metafields.carousel.orientation -%}
{%if custom_orientation %}
	{%- assign orientation = custom_orientation -%}
{% endif %}

{%- assign tagColor = 'blue' -%}
{%if product.metafields.global.tag_colour %}
	{%- assign tagColor = product.metafields.global.tag_colour -%}
{% endif %}
{%if custom_tag_colour %}
	{%- assign tagColor = custom_tag_colour -%}
{% endif %}

<div class="{% unless product.available %}sold-out{% endunless %} block  border block--shadow block--slide">
    <a href="{{ link_url | within: collection }}">
        <p class="block__message  block__message--{{ tagColor }}">{{tag}}</p>
        {% assign style = 'cover' %}
        {%- if product.metafields.carousel.orientation -%}
        	{% assign style = product.metafields.carousel.orientation %}
        {%- endif -%}
        <div class="block__img {% if shrink %}block__img--shrink{% endif %} block__img--{{ orientation }} {% if top %}block__img--top{% endif %}" data-image-loading-animation>
            <div class="block__wrap">
                {%- assign preview_image = product.featured_media.preview_image -%}
                {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- if product.metafields.carousel.image -%}
                	{% assign img_url = product.metafields.carousel.image %}
                {%- endif -%}
                {%- if custom_image != null -%}
                	{% assign img_url = custom_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                {%- endif -%}
                <img
                class="lazyload lazypreload"
                data-src="{{ img_url }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}" >                
            </div>
        </div>
        <article class="block__info block__info--flexed">
            <div>
                {% if show_vendor %}
                    <h4 class="block__title block__title--small">{{ product.vendor }}</h4>
                {% endif %}
                {% assign lcase = product.vendor | downcase %}
                {% assign desc = product.title | replace: product.vendor, "" | replace: lcase, ""  %}
                {% if custom_description != null and custom_description != '' %}
                	 {% assign desc = custom_description %} 
                {% endif %}  
                <p class="block__p">{{desc}}</p>
            </div>
            <div class="price__wrapper">
                {% include 'product-price-listing', product: product %}
            </div>
        </article>
    </a>
</div>
