<section class="o-grid  o-grid--p  product-main">

    <div class="o-grid__item  u-size-12@s u-mB-40">
       {% include 'breadcrumbs' %}
    </div>

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

    <div class="o-grid__item  u-size-6@m  u-size-6@l" data-product-main-media-group>
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

	  <div class="u-flex u-alignCenter">
	  
	  
	  	  <button data-gallery-direction="prev" class="product-main__control">
	      
				      	
			<svg width="24" height="24" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
			<polygon points="315.869,21.178 294.621,0 91.566,203.718 294.621,407.436 315.869,386.258 133.924,203.718 "/>
			</svg>

			
		  </button>
		  
		  <div class="product-main__gallery u-size-12">

		      {%- for media in product.media -%}
		        {% include 'media', media: media, featured_media: featured_media, height: 720, image_scale: product_image_scale, product: product %}
		      {%- endfor -%}
	      
	      </div>
	      
	      <button data-gallery-direction="next" class="product-main__control">
	      
	      	<svg width="24" height="24" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
			<polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/>
			</svg>
			
		  </button>
	      
	  </div>

      {% if product.media.size > 1 %}
         <div class="thumbnails-wrapper  u-mT-32">
          <ul class="o-grid product-main__thumbnails product-main__thumbnails-{{ section.id }}">
            {% for media in product.media %}
              <li class="o-grid__item u-size-2  u-size-2@s u-size-2@m  u-size-2@l product-main__thumbnails-item js">
                <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-main__thumbnail product-main__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ section.id }}-{{ media.id }}">

                    {%- capture thumbnailAlt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                        {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                    {%- endcapture -%}

                    <img class="product-main__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                    {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <div class="product-main__thumbnail-badge">
                        {% include 'icon-video-badge-full-color' %}
                      </div>
                    {%- endif -%}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
      {% endif %}
    </div>

    <div class="o-grid__item  u-size-6@m  u-size-6@l">
      <div class="product-main__right">
      	<div class="product-main__top">
        	<h1 class="product-main__title  dark-blue  u-textUpper  h3">{{product.title}}</h1>
	        <div class="product__price">
	          <span id="ProductPrice" class="product-main__title  product-main__title--price  blue  u-textUpper  h3 product-main__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
	            {{ current_variant.price | money }}
	          </span>
	        </div>
	    </div>
        
        <!--Metafields start here  -->
        
          {% assign custom_attributes = product.metafields.top-instructions %}
           {% if custom_attributes.size > 0 %}
           <div class="product-meta">
           {% for field in custom_attributes %}
              {% assign attribute_code = field | first %}
              {% assign attribute_value = field | last %}

              <div class="product-meta__content">
                <div class="product-meta__icon">
                {% if attribute_code contains 'made_with' %}
                  {% include 'icon-star' %}
                {% elsif attribute_code contains 'made_in' %}
                  {% include 'icon-location' %}
                {% elsif attribute_code contains 'material' %}
                  {% include 'icon-recycle' %}
                {% elsif attribute_code contains 'product_detail' %}
                  {% include 'icon-user' %}
                {% elsif attribute_code contains 'delivery' %}
                  {% include 'icon-delivery' %}
                {% endif %}
                </div>
                <div class="product-meta__detail">
                  <span class="custom-attribute-value gray">{{attribute_value}}</span>
                  {% if attribute_code contains 'made_in' %}
                  <p><a href="#footprint">See product footprint</a></p>
                  {% endif %}
                </div>
              </div>
           {% endfor %}
           </div>
          {% endif %}
        
        
        {% form 'product', product, data-product-form: '', data-product-handle: product.handle %}
          {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
          <div class="js-enabled selector-wrapper u-hide">

          <label for="Option{{ option.position }}">
            {{ option.name }}
          </label>

          {% comment %}
            All inputs that have `name=options[Name]` will be picked up by
            ProductForm, registered as an option input, and made available
            at ProductForm.optionsInputs
          {% endcomment %}

          <select
            id="Option{{ option.position }}"
            class="js-product-option"
            data-option="{{option.name}}"
            name="options[{{ option.name | escape }}]" >
            {% for value in option.values %}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
          </select>
          </div>
          {% endfor %}
          {% endunless %}

          {% if product.available and product.variants.size > 1 %}
            {% render 'swatch' for product.options as swatch %}
          {% endif %}
          
          <a href="#measurements" class="product-main__a js-modal__open">
            <small>See Product Measurements</small>
        </a>

          {% comment %}
          Any input with `name="quantity"` will be picked up by ProductForm and
          registered as a quantity input. If a quantity input is not included, a
          default quantity of 1 is assumed.
          {% endcomment %}
          
            <input type="hidden" name="quantity" value="1">

            {% comment %}
            Line Item property inputs with `name="properties[NAME]"` will be picked up
            by ProductForm and registered as a properties input.
            {% endcomment %}
            
            <div class="product-main__buttons">
             <button type="submit" class="button button-primary" {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            {{ 'products.product.add_to_cart' | t }}
            </button>
            {% if product.metafields.global.footprint_img != blank or product.metafields.global.footprint_point != blank or custom_attributes.size > 0 %}
	            <a href="#footprint" class="product-main__button js-smooth-scroll">
	                <span><img class="u-inblock" src="{{ 'footprint.svg' | asset_url }}"></span>
	            </a>
	        {% endif %}
        </div>

           


          {% if section.settings.enable_payment_button %}
            {{ form | payment_button }}
          {% endif %}
        {% endform %}

        <!--Metafields start here  -->
        <div class="product-meta">
          {% assign custom_attributes = product.metafields.bottom-instructions %}
           {% if custom_attributes.size > 0 %}
           {% for field in custom_attributes %}
              {% assign attribute_code = field | first %}
              {% assign attribute_value = field | last %}

              <div class="product-meta__content">
                <div class="product-meta__icon">
                {% if attribute_code contains 'made_with' %}
                  {% include 'icon-star' %}
                {% elsif attribute_code contains 'made_in' %}
                  {% include 'icon-location' %}
                {% elsif attribute_code contains 'material' %}
                  {% include 'icon-recycle' %}
                {% elsif attribute_code contains 'product_detail' %}
                  {% include 'icon-user' %}
                {% elsif attribute_code contains 'delivery' %}
                  {% include 'icon-delivery' %}
                {% endif %}
                </div>
                <div class="product-meta__detail">
                  <span class="custom-attribute-value gray">{{attribute_value}}</span>
                  {% if attribute_code contains 'made_in' %}
                  <p><a href="#footprint">See product footprint</a></p>
                  {% endif %}
                </div>
              </div>
           {% endfor %}
          {% endif %}
          <div class="product-meta__content">
            <div class="product-meta__icon">
              {% include 'icon-angle' %}
            </div>
            <div class="product-meta__detail">
              <div class="product-meta__list">
              {% for collection in product.collections %}
                <span><a href="{{ collection.url }}">{{ collection.title }}</a></span>
              {% endfor %}
              </div>
            </div>
        </div>
        {% if section.settings.question != blank %}
        <div class="product-meta__content">
          <div class="product-meta__icon">
            {% include 'icon-envelope' %}
          </div>
          <div class="product-meta__detail">
              <p>{{section.settings.question}}</p>
              <p>Email &nbsp;<span><a href="mailto:{{section.settings.email}}">{{section.settings.email}}</a></span></p>
          </div>
        </div>
        {% endif %}
        </div>
        <!--Metafields ends here  -->
        
      </div>
    </div>
    
    <div class="product-main__description">
            {{ product.description }}
        </div>
        
</section>

 

<div class="c-modal" id="measurements">

	<div class="c-modal__content">
	
		<div class="c-modal__close js-modal__close"></div>
	
		<div class="product-main__sizing">
	
			{{ product.metafields.global.sizing_info }}
			
		</div>
	
	</div>

</div>

<!-- Product footprint section -->
{% include "product-footprint" %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | newline_to_br | replace: '<br />', '\n' | strip_newlines | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku | replace: '\', '\\\' }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.selected_or_first_available_variant %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku | replace: '\', '\\\' }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
