<a href="{{ product.url | within: collection }}">
    <div class="collection-items__img">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    <h2 class="collection-items__title  collection-items__title--brand">{{ product.vendor }}</h2>
    <h1 class="collection-items__title">{{ product.title }}</h1>
    <h3 class="collection-items__title  collection-items__title--price">
        {% if product.compare_at_price %}
            <s>{{ product.price | money }}</s>
            <span class="sale-price">{{ product.compare_at_price | money }}</span>
            {% else %}     
            {{ product.price | money }}                   
        {% endif %}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    </h3>
</a>