{% assign custom_attributes = product.metafields.f_accordion %}

{% if product.metafields.footprint.strong_points != blank or custom_attributes.size > 0 %}
	<section class="c-footprint" id="footprint">
		{% if product.metafields.footprint.strong_points != blank %}
			<div class="o-container">
				<div class="c-footprint__wrap">
					<h1 class="c-footprint__title">Product Footprint</h1>

					<div class="c-footprintHero">
						<div class="c-footprintHero__wrap">
							<img class="c-footprintHero__icon" src="{{ "footprint.svg" | asset_url }}" alt="Product Footprint">
							<div class="c-footprintHero__content">
								<h2 class="c-footprintHero__title">
									Strong Points
								</h2>
								{{ product.metafields.footprint.strong_points | newline_to_br }}
							</div>
						</div>
						<img class="c-footprintHero__image" alt="{{ product.title }} footprint" src="{{ product.metafields.footprint.strong_points_image }}">
					</div>

					{% if product.metafields.footprint.people != blank %}
						<div class="c-footprintPeople">
							<h3 class="c-footprintPeople__title">People</h3>
							<div class="c-footprintPeople__content">
								{{ product.metafields.footprint.people | newline_to_br }}
							</div>
						</div>
					{% endif %}

					{% if product.metafields.footprint.planet != blank %}
						<div class="c-footprintPlanet">
							<h3 class="c-footprintPlanet__title">Planet</h3>
							<div class="c-footprintPlanet__content">
								{{ product.metafields.footprint.planet | newline_to_br }}
							</div>
						</div>
					{% endif %}

					{% if product.metafields.footprint.map != blank %}
						<img class="c-footprintMap" src="{{ product.metafields.footprint.map }}" alt="Country of origin"/>
					{% endif %}

					{% if product.metafields.footprint.suppliers != blank %}
						<div class="c-footprintSuppliers">
							<h3 class="c-footprintSuppliers__title">
								Suppliers
							</h3>
							<div class="c-footprintSuppliers__content">
								{{ product.metafields.footprint.suppliers | newline_to_br }}
							</div>
						</div>
					{% endif %}

					{% if product.metafields.footprint.areas_for_development != blank %}
						<div class="c-footprintAreasForDevelopment">
							<h3 class="c-footprintAreasForDevelopment__title">
								Areas For Development
							</h3>
							<div class="c-footprintAreasForDevelopment__content">
								{{ product.metafields.footprint.areas_for_development | newline_to_br }}
							</div>
						</div>
					{% endif %}

				</div>
			</div>
		{% endif %}
	</section>
{% endif %}
