<section class="o-grid  o-grid--p  product-main">

    <div class="o-grid__item  u-size-12@s u-mB-40">
       {% include 'breadcrumbs' %}
    </div>

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

    <div class="o-grid__item  u-size-6@m  u-size-6@l" data-product-main-media-group>
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

	  <div class="product-main__gallery">

	      {%- for media in product.media -%}
	        {% include 'media', media: media, featured_media: featured_media, height: 720, image_scale: product_image_scale, product: product %}
	      {%- endfor -%}
	      
	  </div>

      {% if product.media.size > 1 %}
         <div class="thumbnails-wrapper  u-mT-32">
          <ul class="o-grid product-main__thumbnails product-main__thumbnails-{{ section.id }}">
            {% for media in product.media %}
              <li class="o-grid__item u-size-2  u-size-2@s u-size-2@m  u-size-2@l product-main__thumbnails-item js">
                <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-main__thumbnail product-main__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ section.id }}-{{ media.id }}">

                    {%- capture thumbnailAlt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                        {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                    {%- endcapture -%}

                    <img class="product-main__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                    {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <div class="product-main__thumbnail-badge">
                        {% include 'icon-video-badge-full-color' %}
                      </div>
                    {%- endif -%}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
      {% endif %}
    </div>

    <div class="o-grid__item  u-size-6@m  u-size-6@l">
      <div class="product-main__right">
        <h1 class="product-main__title  dark-blue  u-textUpper  h3">{{product.title}}</h1>
        <div class="product__price">
          <span id="ProductPrice" class="product-main__title  product-main__title--price  blue  u-textUpper  h3 product-main__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>
        </div>
        {% form 'product', product, data-product-form: '', data-product-handle: product.handle %}
          {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
          <div class="js-enabled selector-wrapper u-hide">

          <label for="Option{{ option.position }}">
            {{ option.name }}
          </label>

          {% comment %}
            All inputs that have `name=options[Name]` will be picked up by
            ProductForm, registered as an option input, and made available
            at ProductForm.optionsInputs
          {% endcomment %}

          <select
            id="Option{{ option.position }}"
            class="js-product-option"
            data-option="{{option.name}}"
            name="options[{{ option.name | escape }}]" >
            {% for value in option.values %}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
          </select>
          </div>
          {% endfor %}
          {% endunless %}

          {% if product.available and product.variants.size > 1 %}
            {% render 'swatch' for product.options as swatch %}
          {% endif %}
          
          <a href="#measurements" class="product-main__a">
            <small>See Product Measurements</small>
        </a>

          {% comment %}
          Any input with `name="quantity"` will be picked up by ProductForm and
          registered as a quantity input. If a quantity input is not included, a
          default quantity of 1 is assumed.
          {% endcomment %}
          
            <input type="hidden" name="quantity" value="1">

            {% comment %}
            Line Item property inputs with `name="properties[NAME]"` will be picked up
            by ProductForm and registered as a properties input.
            {% endcomment %}
            
            <div class="product-main__buttons">
             <button type="submit" class="button button-primary" {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            {{ 'products.product.add_to_cart' | t }}
            </button>
            {% if product.metafields.global.footprint_img != blank or product.metafields.global.footprint_point != blank or custom_attributes.size > 0 %}
	            <a href="#footprint" class="product-main__button js-smooth-scroll">
	                <span><img class="u-inblock" src="{{ 'footprint.svg' | asset_url }}"></span>
	            </a>
	        {% endif %}
        </div>

           


          {% if section.settings.enable_payment_button %}
            {{ form | payment_button }}
          {% endif %}
        {% endform %}

        <!--Metafields start here  -->
        <div class="product-meta">
          {% assign custom_attributes = product.metafields.instructions %}
           {% if custom_attributes.size > 0 %}
           {% for field in custom_attributes %}
              {% assign attribute_code = field | first %}
              {% assign attribute_value = field | last %}

              <div class="product-meta__content">
                <div class="product-meta__icon">
                {% if attribute_code contains 'made_with' %}
                  {% include 'icon-star' %}
                {% elsif attribute_code contains 'made_in' %}
                  {% include 'icon-location' %}
                {% elsif attribute_code contains 'material' %}
                  {% include 'icon-recycle' %}
                {% elsif attribute_code contains 'product_detail' %}
                  {% include 'icon-user' %}
                {% endif %}
                </div>
                <div class="product-meta__detail">
                  <span class="custom-attribute-value gray">{{attribute_value}}</span>
                  {% if attribute_code contains 'made_in' %}
                  <p><a href="#footprint">See product footprint</a></p>
                  {% endif %}
                </div>
              </div>
           {% endfor %}
          {% endif %}
          <div class="product-meta__content">
            <div class="product-meta__icon">
              {% include 'icon-angle' %}
            </div>
            <div class="product-meta__detail">
              <div class="product-meta__list">
              {% for collection in product.collections %}
                <span><a href="{{ collection.url }}">{{ collection.title }}</a></span>
              {% endfor %}
              </div>
            </div>
        </div>
        {% if section.settings.question != blank %}
        <div class="product-meta__content">
          <div class="product-meta__icon">
            {% include 'icon-envelope' %}
          </div>
          <div class="product-meta__detail">
              <p>{{section.settings.question}}</p>
              <p>Email &nbsp;<span><a href="mailto:{{section.settings.email}}">{{section.settings.email}}</a></span></p>
          </div>
        </div>
        {% endif %}
        </div>
        <!--Metafields ends here  -->

        <div class="product-main__description">
            {{ product.description }}
        </div>
        
      </div>
    </div>
</section>

<!-- Product footprint section -->
{% include "product-footprint" %}

