<section class="c-product">

	{% include "breadcrumbs" %}

	<div class="o-container">
		{%- assign current_variant = product.selected_or_first_available_variant -%}
		{%- assign product_image_scale = "2" -%}
		{%- assign compare_at_price = current_variant.compare_at_price -%}
		{%- assign price = current_variant.price -%}

		<div class="c-product__head">
			<span class="c-product__tag">{{ product.metafields.global.tag }}</span>
			<hr class="c-divide"/>
			<div class="c-product__mediaWrap" data-c-product-media-group>
				{%- assign featured_media = product.selected_variant.featured_media | default: product.media[1] -%}

				<div class="c-product__galleryWrap">
					<button data-gallery-direction="prev" class="c-product__mediaControl">
						<svg class="c-product__mediaControlIcon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 18 19"><path d="M1.4 10.7l16 7.6V16L3.8 9.8l13.6-6.2V1.3l-16 7.6z"/></svg>
					</button>

					<div class="c-product__gallery">
						{%- for media in product.media -%}
							{% if forloop.first == false %}
								{% if media.alt != 'footprint-image' %}
									{% include 'media', media: media, featured_media: featured_media, height: 720, image_scale: product_image_scale, product: product %}
								{% endif %}
							{% endif %}
						{%- endfor -%}
					</div>

					<button data-gallery-direction="next" class="c-product__mediaControl">
						<svg class="c-product__mediaControlIcon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17 18"><path d="M16.6 8.3L.6.7V3l13.6 6.2L.6 15.4v2.3l16-7.6z"/></svg>
					</button>

				</div>

				{% if product.media.size > 1 %}
					<ul class="c-product__thumbnailList">
						{% for media in product.media %}
							{% if forloop.first == false %}
								{% if media.alt != 'footprint-image' %}
									<li class="c-product__thumbnailItem" data-alt="{{ media.alt }}">
										<a class="c-product__thumbnailLink" href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}" data-thumbnail-id="{{ section.id }}-{{ media.id }}">

											{%- capture thumbnailAlt -%}
												{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
													{{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
												{%- else -%}
													{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
												{%- endif -%}
											{%- endcapture -%}

											<img class="c-product__thumbnailImage" src="{{ media.preview_image | img_url: '60x60', scale: 2 }}" alt="{{ thumbnailAlt }}">
											{%- if media.media_type == 'video' or media.media_type =='external_video' -%}
												<div class="c-product__thumbnail-badge">
													{% include 'icon-video-badge-full-color' %}
												</div>
											{%- endif -%}
										</a>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}

						{% if product.metafields.footprint.strong_points != blank or custom_attributes.size > 0 %}
							<li>
								<a href="#footprint" class="js-smooth-scroll">
									<img class="c-product__thumbnailFootPrint" src="{{ 'footprint.svg' | asset_url }}" alt="Product Footprint">
								</a>
							</li>
						{% endif %}
					</ul>
				{% endif %}
				{% if section.settings.show_share_buttons %}
					{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
				{% endif %}
			</div>
			<div class="c-product__detail">
				<div class="c-product__detailHeader">
					{% assign vendor_href = product.vendor | url_for_vendor | replace: 'vendors?q=', '' | replace: '%C3%B6', 'o' | replace: '%27', '' | replace: '%20and', '' | replace: '%20', '-' | replace: '.', '-' | url_escape | downcase %}
					<a class="c-product__vendor" href="{{vendor_href}}">{{ product.vendor }}</a>
					<h1 class="c-product__title">{{ product.title | replace: product.vendor, '' }}</h1>
					<span id="ProductPrice" class="c-product__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
						{{ current_variant.price | money }}
					</span>
					{% if product.metafields.global.pitch %}
						<p class="c-product__descriptionTag">
							{{ product.metafields.global.pitch }}
						</p>
					{% endif %}
				</div>

				{% form 'product', product, data-product-form: '', data-product-handle: product.handle %}

					{% if product.available and product.variants.size > 1 %}
						{% render 'swatch' for product.options as swatch %}
					{% endif %}

					{% unless product.has_only_default_variant %}
						{% for option in product.options_with_values %}
							<div class="js-enabled selector-wrapper {%- unless option.name == 'Size' %} u-hide{% endunless %}">

								<label class="c-product__formLabel" for="Option{{ option.position }}">
									{{ option.name }}
								</label>

								{% comment %}
									All inputs that have `name=options[Name]` will be picked up by ProductForm, registered as an option input, and made available at ProductForm.optionsInputs
								{% endcomment %}

								<select id="Option{{ option.position }}" class="c-product__select js-product-option" data-option="{{option.name}}" name="options[{{ option.name | escape }}]">
									{% for value in option.values %}
                    {% if product.variants[forloop.index0].available %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}
                          selected
                        {% endif %}
                      >
                        {{ value }}
                      </option>
                    {% else %}
                      <option disabled>{{ value }} - sold out</option>
                    {% endif %}
									{% endfor %}
								</select>
							</div>
						{% endfor %}
					{% endunless %}

					{% if product.metafields.global.sizing_info %}
						<a href="#measurements" class="c-product__a js-modal__open">
							<small>See Product Measurements</small>
						</a>
					{% endif %}

					{% comment %}
						Any input with `name="quantity"` will be picked up by ProductForm and registered as a quantity input. If a quantity input is not included, a default quantity of 1 is assumed.
					{% endcomment %}

					<input type="hidden" name="quantity" value="1">

					{% comment %}
						Line Item property inputs with `name="properties[NAME]"` will be picked up by ProductForm and registered as a properties input.
					{% endcomment %}

					<div class="c-product__buttons">
						<button type="submit" class="button button--full" {% unless current_variant.available %} disabled="disabled" {% endunless %}>
							{{ 'products.product.add_to_cart' | t }}
						</button>
					</div>

					{% if section.settings.enable_payment_button %}
						{{ form | payment_button }}{% endif %}
					{% endform %}

					<div class="c-product__accordion js-accordion">
						{% assign product_detail = product.metafields.detail %}
						{% if product_detail.size > 0 %}
							{% for field in product_detail %}
								{% assign attribute_code = field | first %}
								{% assign attribute_value = field | last %}

								<a href="#accordion-{{ attribute_code }}" class="c-product__accordionItem js-accordion-toggle">
									{% if attribute_code contains 'material' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-recycle' %}
										</figure>
										<span class="c-product__accordionTitle">Material</span>
									{% elsif attribute_code contains 'fit' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-user' %}
										</figure>
										<span class="c-product__accordionTitle">Fit</span>
									{% elsif attribute_code contains 'spec' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-angle' %}
										</figure>
										<span class="c-product__accordionTitle">Specifications</span>
									{% elsif attribute_code contains 'made_with' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-star' %}
										</figure>
										<span class="c-product__accordionTitle">Made with</span>
									{% elsif attribute_code contains 'made_in' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-location' %}
										</figure>
										<span class="c-product__accordionTitle">Made in</span>
									{% elsif attribute_code contains 'delivery' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-delivery' %}
										</figure>
										<span class="c-product__accordionTitle">Delivery</span>
									{% elsif attribute_code contains 'clothing_care' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-clothing' %}
										</figure>
										<span class="c-product__accordionTitle">Clothing Care</span>
									{% elsif attribute_code contains 'full_description' %}
										<figure class="c-product__accordionIcon">
											{% include 'icon-star' %}
										</figure>
										<span class="c-product__accordionTitle">Description</span>
									{% endif %}
								</a>
								<div id="accordion-{{ attribute_code }}" class="c-product__accordionDetail">
									<p>{{attribute_value}}</p>
									{% if attribute_code contains 'fit' and product.metafields.global.sizing_info %}
                    <a href="#measurements" class="c-product__a js-modal__open">
                      <small>See Product Measurements</small>
                    </a>
                  {% endif %}
									{% if attribute_code contains 'made_in' %}
										<p>
											<a href="#footprint">See product footprint</a>
										</p>
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}

						<!-- parse-ignore-start -->
            {% comment %}
						<a href="#accordion-collections" class="c-product__accordionItem js-accordion-toggle">
							<figure class="c-product__accordionIcon">
								{% include 'icon-angle' %}
							</figure>
							<span class="c-product__accordionTitle">Collections</span>
						</a>
						<div id="accordion-collections" class="c-product__accordionDetail">
							<ul class="accordion__collectionList">
								{% for collection in product.collections %}
									<li class="accordion__collectionListItem">
										<a href="{{ collection.url }}">{{ collection.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>

						{% if section.settings.question != blank %}
							<a href="#accordion-questions" class="c-product__accordionItem js-accordion-toggle">
								<figure class="c-product__accordionIcon">
									{% include 'icon-envelope' %}
								</figure>
								<span class="c-product__accordionTitle">Questions</span>
							</a>
							<div id="accordion-questions" class="c-product__accordionDetail">
								<p>{{section.settings.question}}</p>
								<p>Email &nbsp;<span>
										<a href="mailto:{{section.settings.email}}">{{section.settings.email}}</a>
									</span>
								</p>
							</div>
						{% endif %}
            {% endcomment %}
            <!-- parse-ignore-end -->

					</div>

				</div>
			</div>

		</div>

	</div>
</section>
<div class="c-modal" id="measurements">
	<div class="c-modal__content">
		<button class="c-modal__close js-modal__close"></button>
		<div class="c-product__sizing">
			{{ product.metafields.global.sizing_info }}
		</div>
	</div>
</div>

{% include "product-footprint" %}<!-- parse-ignore-start -->

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | newline_to_br | replace: '<br />', '\n' | strip_newlines | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku | replace: '\', '\\\' }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.selected_or_first_available_variant %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku | replace: '\', '\\\' }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
