{% unless linklists[section.settings.main_linklist] == blank %}
      <label for="drop" id="nav__toggle" class="nav__toggle  nav__toggle--main">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="ToggleMenu" xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
          <rect width="25" height="1" fill="#6e6c6c"/>
          <rect width="25" height="1" transform="translate(0 7)" fill="#6e6c6c"/>
          <rect width="25" height="1" transform="translate(0 14)" fill="#6e6c6c"/>
        </svg>
      </label>
{% endunless %}

<ul class="nav__menu  nav__ul" id="SiteNav">
    {% for link in linklists[linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% comment %}
        Check if third-level nav exists on each parent link.
      {% endcomment %}
      {%- assign three_level_nav = false -%}
      {% if link.links != blank %}
        {% if link.levels == 2 %}
          {%- assign three_level_nav = true -%}
        {% endif %}
      {% endif %}
  
      {% if link.links != blank %}
        <li class="nav__li{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
          <button class="nav__a{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
            {{ link.title | escape }}
          </button>
  
          <div class="nav__dropdown" id="SiteNavLabel-{{ child_list_handle }}">
            {% if three_level_nav %}
                             
             <ul class="nav__dd-wrap site-nav__childlist-grid">
                  {% if link.links != blank %}
                    {% for childlink in link.links %}
                      <li class="nav__col  border">
                        <h2 class="nav__sub-title  nimbus">
                          {{ childlink.title | escape }}
                        </h2>
                        {% if childlink.links != blank %}
                          <ul class="nav__sub-ul">
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a href="{{ grandchildlink.url }}"
                              class="nav__a  nav__a--sub"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {% endfor %}
                          </ul>
                        {% endif %}
  
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>             
             
  
            {% else %}
            <div class="nav__dd-wrap site-nav__childlist">
             <div class="nav__col  border">
              <ul class="nav__sub-ul">
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}"
                    class="nav__a  nav__a--sub"
                    {% if childlink.current %} aria-current="page"{% endif %}
                  >
                      {{ childlink.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              </div>
              </div>
            {% endif %}
          </div>
        </li>
      {% else %}
        <li {% if link.active %} class="nav__li"{% endif %}>
          <a href="{{ link.url }}"
            class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
            {% if link.current %} aria-current="page"{% endif %}
          >
            {{ link.title | escape }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  