<section class="section-header  o-grid">
    <div class="o-grid__item  u-size-12">
        <div class="block  block--row  border">
        	<p class="block__message block__message--pushed"><span>{{blog.title}} </span></p>
            <div class="block__col">
                <div class="block__info  block__info--light-gray  block__info--large  section-header__info">
                    <h1 class="section-header__title  nimbus u-mB-32">{{ article.title | escape }}</h1>
                </div>
                <div class="u-alignSelfEnd u-mT-20">
                	{% assign d = article.published_at | date: "%-d" %}
					{% capture day %}
						{% case d %}
						  {% when "1" or "21" or "31" %}{{ d }}st
						  {% when "2" or "22" %}{{ d }}nd
						  {% when "3" or "23" %}{{ d }}rd
						  {% else %}{{ d }}th
						{% endcase %}
					{% endcapture %}
                    <p class="article__date">{{ article.published_at | date: "%B" }} {{ day }} {{ article.published_at | date: "%Y" }}</p>
                    <p class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</p>
                </div>
            </div>

            <div class="section-header__img  block__col">
            	{% if article.image %}
                    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img
                    class="lazyload lazypreload"
                    src="{{ article.image | img_url: 'master' }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto"
                    alt="{{ article.image.alt | escape }}">
                    <noscript>
                    <div class="article__grid-image-wrapper">
                    {{ article | img_url: '345x345', scale: 2 | img_tag: article.title }}
                    </div>
                    </noscript>
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<article class="article u-pV-48 o-grid u-justifyCenter">
    <div class="o-grid__item u-size-11 u-size-8@m u-alignCenter u-flex">
        {{article.content}}
        
        <div class="u-flex u-justifyCenter">
        	{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        </div>
    </div>
</article>

<section class="o-grid u-justifyCenter u-mB-48">
    <div class="o-grid__item u-size-11 u-size-8@m">

		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'BrothersWeStand'; // required: replace example with your forum shortname
		
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		
	</div>
</section>