{%- assign show_payment_icons = false -%}
{%- if section.settings.show_payment_icons -%}
    {%- unless shop.enabled_payment_types == empty -%}
        {%- assign show_payment_icons = true -%}
    {%- endunless -%}
{%- endif -%}

{%- capture payment_icon_markup -%}
    {%- if show_payment_icons -%}
        <div class="footer__payment">
            <span>{{ 'general.payment.method' | t }}</span>
            <ul class="payment-icons">
                {%- for type in shop.enabled_payment_types -%}
                    <li class="payment-icon">
                        {{ type | payment_type_svg_tag: class: 'payment-icon__svg' }}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endcapture -%}


<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
    <div class="footer__top">
        <div class="o-grid  u-pB-32 o-grid--small-pad">
            {%- for block in section.blocks -%}
                {% case block.settings.width %}
                    {% when '16%' %}
                        {%- assign block_width = 'u-size-2@m u-size-6' -%}
                        {%- assign menu_columns = '' -%}
                    {% when '25%' %}
                        {%- assign block_width = 'u-size-3@m' -%}
                    {% when '33%' %}
                        {%- assign block_width = 'u-size-4@m' -%}
                        {%- assign menu_columns = 'footer-nav__ul--col2' -%}
                    {% when '50%' %}
                        {%- assign block_width = 'u-size-6@m' -%}
                    {% when '66%' %}
                        {%- assign block_width = 'u-size-8@m' -%}
                    {% when '75%' %}
                        {%- assign block_width = 'u-size-9@m' -%}
                    {% when '100%' %}
                        {%- assign block_width = 'u-size-12' -%}
                {% endcase %}
                {% case block.settings.mobile_width %}
                    {% when '25%' %}
                        {%- assign block_width_mobile = 'u-size-3' -%}
                    {% when '50%' %}
                        {%- assign block_width_mobile = 'u-size-6' -%}
                    {% when '100%' %}
                        {%- assign block_width_mobile = 'u-size-12' -%}
                {% endcase %}

                <div class="o-grid__item{% if section.blocks.size == 1 %} u-textCenter{% endif %} {% if block.type == 'spacer'%}u-size-12{% else%}{{ block_width }} {{block_width_mobile}} {% endif %}" {{ block.shopify_attributes }}>
                    <div class="block  block__info  block__info--transparent block__info--p-tb01 block__info--margin {% unless block.type == 'spacer'%}border border--large  border--darkblue{% endunless %}">
                        {%- if block.settings.title -%}
                            <p class="footer-nav__title">{{ block.settings.title | escape }}</p>
                        {%- endif -%}
                        {%- case block.type -%}
                            {%- when 'link_list' -%}
                                <div>
                                    {%- assign footer_linklist = block.settings.menu -%}
                                    <ul class="footer-nav__ul {{menu_columns}}">
                                        {%- for link in linklists[footer_linklist].links -%}
                                            <li class="footer-nav__li">
                                                <a href="{{ link.url }}" {% if link.current %} aria-current="page" {% endif %} class="footer-nav__a">
                                                    {{ link.title | escape }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                </div>
                            {%- when 'search' -%}
                                <div class="search-bar u-mV-20" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}" data-predictive-search-drawer>
                                    <div class="search-bar__interior">
                                        <div class="search-form__container" data-search-form-container>
                                            <form class="search-form search-bar__form u-textEnd" action="{{ routes.search_url }}" method="get" role="search">
                                                <div class="search-form__input-wrapper">
                                                    <input type="text" name="q" role="combobox" aria-autocomplete="list" aria-owns="predictive-search-results" aria-expanded="false" aria-label="{{ 'general.search.placeholder' | t }}" aria-haspopup="listbox" class="search-form__input search-bar__input join__input"/>
                                                    <input aria-hidden="true" name="options[prefix]" type="hidden" value="last"/>
                                                    <button class="search-bar__submit button search-form__submit" data-search-form-submit type="submit">
                                                        {% include 'icon-search' %}
                                                    </button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            {%- when 'spacer' -%}
                                <div class="footer__spacer"></div>

                        {%- endcase -%}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="footer__bottom">
        <div class="o-grid u-alignCenter">
            <div class="o-grid__item footer__legal {% if show_payment_icons %}u-size-6@m{% else %}u-size-12@m{% endif %}">
                {%- assign legal_linklist = section.settings.legal_menu -%}
                <ul class="legal-nav">
                    <li class="legal-nav__li">&copy;
                        {{ 'now' | date: "%Y" }},
                        {{ shop.name | link_to: routes.root_url }}</li>
                    {%- for link in linklists[legal_linklist].links -%}
                        <li class="legal-nav__li">
                            <a href="{{ link.url }}" {% if link.current %} aria-current="page" {% endif %} class="legal-nav__a">
                                {{ link.title | escape }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- if show_payment_icons -%}
                <div class="o-grid__item u-size-6@m footer__methods">{{ payment_icon_markup }}</div>
            {% endif %}
        </div>
    </div>

</footer>

{% if request.page_type == 'index' %}
    {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
             },
            "url": {{ shop.url | append: page.url | json }}
        }
    </script>
{% endif %}


{% schema %}

{
    "name": "Footer",
    "settings": [
        {
            "type": "header",
            "content": "Payment methods"
        }, {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": false
        }, {
            "type": "link_list",
            "id": "legal_menu",
            "label": "Legal Menu",
            "default": "footer"
        }
    ],
    "blocks": [
        {
            "type": "link_list",
            "name": "Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Quick links"
                }, {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu",
                    "default": "footer"
                }, {
                    "type": "select",
                    "id": "width",
                    "label": "Container width",
                    "default": "50%",
                    "options": [
                        {
                            "value": "16%",
                            "label": "16%"
                        }, {
                            "value": "25%",
                            "label": "25%"
                        }, {
                            "value": "33%",
                            "label": "33%"
                        }, {
                            "value": "50%",
                            "label": "50%"
                        }, {
                            "value": "66%",
                            "label": "66%"
                        }, {
                            "value": "75%",
                            "label": "75%"
                        }, {
                            "value": "100%",
                            "label": "100%"
                        }
                    ]
                }, {
                    "type": "select",
                    "id": "mobile_width",
                    "label": "Mobile Container width",
                    "default": "50%",
                    "options": [
                        {
                            "value": "25%",
                            "label": "25%"
                        }, {
                            "value": "50%",
                            "label": "50%"
                        }, {
                            "value": "100%",
                            "label": "100%"
                        }
                    ]
                }
            ]
        }, {
            "type": "search",
            "limit": 1,
            "name": "Search",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)"
                }, {
                    "type": "select",
                    "id": "width",
                    "label": "Container width",
                    "default": "50%",
                    "options": [
                        {
                            "value": "16%",
                            "label": "16%"
                        }, {
                            "value": "25%",
                            "label": "25%"
                        }, {
                            "value": "33%",
                            "label": "33%"
                        }, {
                            "value": "50%",
                            "label": "50%"
                        }, {
                            "value": "66%",
                            "label": "66%"
                        }, {
                            "value": "75%",
                            "label": "75%"
                        }, {
                            "value": "100%",
                            "label": "100%"
                        }
                    ]
                }, {
                    "type": "select",
                    "id": "mobile_width",
                    "label": "Mobile Container width",
                    "default": "50%",
                    "options": [
                        {
                            "value": "25%",
                            "label": "25%"
                        }, {
                            "value": "50%",
                            "label": "50%"
                        }, {
                            "value": "100%",
                            "label": "100%"
                        }
                    ]
                }
            ]
        }, {
            "type": "spacer",
            "name": "Spacer",
            "settings": [
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Block Background",
                    "default": "#f6f6f6"
                }
            ]
        }
    ]
}

{% endschema %}
