<section class="slider slider--transparent" data-section-id="{{ section.id }}" data-section-type="hero-section">
	<div class="o-grid  o-grid--item">
		{%- assign count = section.blocks | size %}
		<div class="hero-slider js-slider" data-gutter="1" data-loop="{% if count > 2 %}1{% else %}0{% endif %}">
			{% for block in section.blocks %}
				<div id="{{block.id}}">
					<div class="slide  border border--close" style="--border-color: {{block.settings.button_color_bg}}">
						{% capture order %}
							{% if block.settings.layout == 'left' %}1{% else %}2
							{% endif %}
						{% endcapture %}
						<div class="slide__img" style="order: {{ order }}" data-image-loading-animation>
							{% if block.settings.image != blank %}
								{%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
								<img class="lazyload lazypreload" data-src="{{ img_url }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
							{% else %}
								{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
							{% endif %}
						</div>
						<article class="slide__info" style="background-color : {{block.settings.text_block_bg}}; color: {{block.settings.text_color}};">
							<h1 class="slide__title  nimbus">
								{{ block.settings.text | escape }}
							</h1>
							{% if block.settings.button_label != blank and block.settings.button_link != blank %}
								{%- capture ariaLabel -%}
									{{- block.settings.button_label -}}
									{%- if block.settings.button_link.type == 'frontpage_link' -%}
										:
										{{ 'homepage.general.title' | t -}}
									{%- elsif block.settings.button_link.type == 'catalog_link' -%}
										:
										{{ 'collections.catalog.title' | t -}}
									{%- elsif block.settings.button_link.object.title -%}
										:
										{{ block.settings.button_link.object.title -}}
									{%- endif -%}
								{%- endcapture -%}
								<a href="{{ block.settings.button_link }}" class="button slide__button" aria-label="{{ ariaLabel }}" style="background-color : {{block.settings.button_color_bg}}; color: {{block.settings.button_text_color}};">
									{{- block.settings.button_label | escape -}}
								</a>
							{% endif %}
						</article>

					</div>
				</div>
			{% endfor %}
		</div>
		{% if count > 1 %}
			<ul class="slider__controls slider__controls--thin js-slider-controls" id="hero-controls" aria-label="Carousel Navigation" tabindex="0">

				<li class="slider__dots js-slider-dots">
					{% for block in section.blocks %}
						<span class="slider__dot {% if forloop.first == true %}is-active{% endif %}" data-goto="{{ forloop.index }}"></span>
					{% endfor %}
				</li>
				<li class="slider__next  button" data-controls="next" aria-controls="customize" tabindex="-1">
					<svg width="17px" height="18px" viewbox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<title>NEXT</title>
						<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Arrow" fill="#FFFFFF">
								<polygon id="Fill-3" transform="translate(8.500000, 9.000000) rotate(-270.000000) translate(-8.500000, -9.000000) " points="7.58805575 1 0 17 2.34598347 17 8.54454108 3.44934827 14.6540165 17 17 17 9.44133218 1"></polygon>
							</g>
						</g>
					</svg>
				</li>

			</ul>
		{% endif %}
	</div>
</section>
{% schema %}
{
  "name": "Hero Slider",
  "max_blocks": 3,
  "class": "index-section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "slide",
      "name":"Slide",
      "settings": [
     {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "text_block_bg",
      "label": "Text Block background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button label color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color_bg",
      "label": "Button background",
      "default": "#ffffff"
    }
    ]
   }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
