<div
class="product-recommendations"
data-base-url="{{ routes.product_recommendations_url }}"
data-product-id="{{ product.id }}"
data-limit="3"
>
<section class="product-similar  u-mB-48">
  {%- if recommendations.products_count > 0 -%}
    <div class="o-grid  o-grid--p">
      <div class="o-grid__item  u-size-12@s">
        <h4 class="nimbus u-textUpper u-mB-48">Something else?</h4>
      </div>

      {%- for product in recommendations.products -%}
         <div class="o-grid__item  u-size-6 u-size-6@s  u-size-4@m  collection-items__item product">
          <a href="{{ product.url }}">
          <img
              class="product-similar__img"
              src="{{ product.featured_image | img_url: '300x300' }}"
              alt="{{ product.featured_image.alt }}"
          />
          <h5 class="dark-blue  u-mT-20">{{ product.title }}</h5>
          <div class="u-mB-20">
          	<strong class="dark-blue">{{ product.price | money}}</strong>
          </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</section>
</div>