  <div class="o-grid u-alignCenter">
  	<div class="o-grid__item u-size-6">
    <h1 class="m-0">Bag</h1>
    </div>

    {% if cart.item_count > 0 %}
    	<div class="o-grid__item u-size-6 u-flex u-alignEnd">
	        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}">Continue Shopping &rarr;</a>
      
      </div>
    {% endif %}
  </div>

  {% if cart.item_count == 0 %}
  	<div class="o-grid">
	    <div class="o-grid__item">
	    	<div class="cart-notice">
	        	<p><span>There are no items in your bag.</span> <a href="/collections/new-in">Continue Shopping &rarr;</a></p>  
	        </div>  
	    </div>
	</div>
  {% else %}

  <form action="/cart" method="post" id="cart_form" class="o-grid">        
      <div class="o-grid__item u-size-7@m">
        <h4 class="title">Products</h4>

        {% for item in cart.items %}
          <div class="o-grid">
          <div class="o-grid__item u-size-4">
            <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">       
              <img data-src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="lazyload lazypreload" data-sizes="auto" />
            </a>
          </div>

          <div class="o-grid__item u-size-8">
            <p>
              <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
            </p> 
            
            {% if item.properties %}
              <p>
              {% for p in item.properties %}
                {% unless p.last == blank %}
                  {% if p.last contains '/uploads/' %}
                    {{ p.first }}: <a class="lightbox" href="{{ p.last }}">uploaded file</a><br />
                  {% else %}
                    {{ p.first }}: {{ p.last }}<br />
                  {% endif %}
                {% endunless %}
              {% endfor %}
              </p>
            {% endif %}

            <p class="price_total">
              {{ item.price | money_with_currency }}
            </p>

            <div class="u-flex u-alignCenter">
              <label for="updates_{{ item.id }}" class="quantity_label">Quantity:</label>
              <input type="number" min="0" size="3" maxlength="3" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
           </div>

           
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove Item"> <small>Remove</small></a>
            
          </div>
          
          </div>
        {% endfor %}
      </div>

      <div class="o-grid__item u-size-5@m">
        <h4 class="subtotal">
          Subtotal
        </h4>

        <p class="subtotal_amount">
          <strong>{{ cart.total_price | money_with_currency }}</strong> 
        </p>

          <label for="note">Note to {{ shop.name }}:</label>
          <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>        

        <p>
          <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="Checkout" />
        </p>
        
      </div>
  </form>
  
  {% include 'cart-shipping-calculator' %}
{% endif %}

<style>
.cart-notice {
	background-color: #f6f6f6;
	padding: 1.6rem;
	margin-bottom: 1.6rem;
}

.cart-notice p {
	margin: 0;
}
</style>